.example-icon {
    padding: 0 2rem;
    cursor: pointer;
}
/* #docregion toolbar-position-content-style */
.example-spacer {
    flex: 1 1 auto;
}
/* #enddocregion toolbar-position-content-style */
.home-button{
    cursor: pointer;
}

