<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="home-button" (click)="navigateHome()">Calcutta</span>
        <span class="example-spacer"></span>
        <mat-icon *ngIf="userIsAdmin" 
                  (click)="createTournament()"
                  class="example-icon" 
                  aria-hidden="false" 
                  aria-label="Example house icon">
            construction
        </mat-icon>
        <!-- <span class="example-spacer"></span> -->
        <mat-icon (click)="navigateSettings()" class="example-icon">settings</mat-icon>
        <mat-icon (click)="navigateHome()" class="example-icon">home</mat-icon>
        <mat-icon (click)="logout()"class="example-icon" aria-hidden="false" aria-label="Example delete icon">logout</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>