<div class="section">
    <div class="title">Settings</div>
    <ng-container *ngIf="(currentUser$ | async) as user">
        <div class="row">
            <div class="subtitle subtitle__label">first name:</div>
            <div class="subtitle">{{user.firstName}}</div>
        </div>
        <div class="row">
            <div class="subtitle subtitle__label">last name:</div>
            <div class="subtitle">{{user.lastName}}</div>
        </div>
        <div class="row">
            <div class="subtitle subtitle__label">email:</div>
            <div class="subtitle">{{user.email}}</div>
        </div>
        <div class="row row__button">
            <button (click)="resetPassword()" 
                    mat-raised-button  
                    class="button button__reset">
                Reset Password
            </button>
        </div>
        <div class="row row__button">
            <button (click)="resetPassword()" 
                    mat-raised-button  
                    class="button button__delete-account">
                Delete Account
            </button>
        </div>
    </ng-container>
    
</div>