<!-- SEARCH WILL BE HERE -->
<mat-form-field  appearance="outline">
    <mat-label>Search Players</mat-label>
    <input matInput [(ngModel)]="playerInput" placeholder="player name"/>
</mat-form-field>
<mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let player of playerList | filterPlayers: playerInput"
                    (click)="onSelectPlayer(player)"
                    [value]="player" 
                    class="player-list-item">
        <div class="option">
            <div class="option-text">{{player.firstName}} {{player.lastName}} {{player.fargoRating}}</div>
            <div class="secondary-action"> 
                <mat-icon *ngIf="secondaryAction" 
                          (click)="onSecondaryAction(player)"
                          class="secondary-action-icon" 
                          aria-hidden="false" 
                          aria-label="remove player">
                          remove_circle_outline
                </mat-icon>
            </div>
        </div>
    </mat-list-option>
</mat-selection-list>
