<div *ngIf="endTimeSelected; else duration" >
    <mat-form-field appearance="outline">
        <mat-label>End Time:</mat-label>
            <input [ngxTimepicker]="endTime" 
                   placeholder="00:00" 
                   aria-label="12hr format"  
                   [formControl]="timeFormGroup.controls.endTime"
                   matInput
                   readonly>
            <ngx-material-timepicker #endTime></ngx-material-timepicker>
    </mat-form-field>
</div>
<ng-template #duration>
    <mat-form-field appearance="outline">
        <mat-label>Duration:</mat-label>
        <input placeholder="00:00" 
               [formControl]="timeFormGroup.controls.duration"
               matInput>
    </mat-form-field>
</ng-template>
<mat-slide-toggle [(ngModel)]="endTimeSelected"></mat-slide-toggle>
