<div *ngIf="currentRoom" class="container">
<!-- <div *ngIf="(currentRoom | async) as room" class="container"> -->
    <div class="title">
        Create New Room 
    </div>
    <mat-form-field appearance="outline">
        <mat-label>RoomName</mat-label>
        <input matInput [(ngModel)]="filterPlayer" placeholder="player name" class="search-input"/>
    </mat-form-field>
    <time-control></time-control>
    
    <player-control></player-control>

    <!-- <button mat-raised-button color="accent" class="bet-button">Create Player</button> -->
<!-- 
    <div *ngFor="let player of currentRoom.players" >
        {{player.firstName}}
    </div> -->
</div>