.room-search {
    width: 100%;
}

.title{
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}

.room-list{
    margin-top: -2rem;
}

.room-list-item{
    // padding: 2rem 2rem;
    // background-color: lavender;
}

.room-search-wrapper{
    margin: 0;
}