<div *ngIf="currentTournament" class="container">
    <div class="title">
        Create New Tournament
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Tournament Name</mat-label>
        <input matInput [(ngModel)]="filterPlayer" placeholder="player name" class="search-input"/>
    </mat-form-field>
    <time-control></time-control>
    
    <player-control></player-control>

    <!-- <button mat-raised-button color="accent" class="bet-button">Create Player</button> -->
<!-- 
    <div *ngFor="let player of currentTournament.players" >
        {{player.firstName}}
    </div> -->
</div>