<div class="section section__tournament-input">
    <div class="title">{{tournament_id === 'new-tournament' ? 'Create' : 'Update'}} Tournament</div>
    <mat-form-field appearance="outline">
        <mat-label>Tournament Name</mat-label>
        <input [formControl]="tournamentFormGroup.controls.name" 
                matInput
                placeholder="player name"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Room Name</mat-label>
        <input [formControl]="tournamentFormGroup.controls.roomName" 
                matInput
                placeholder="room name"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>End Time:</mat-label>
            <input [ngxTimepicker]="endTime" 
                    [formControl]="tournamentFormGroup.controls.endTime"
                    placeholder="00:00" 
                    aria-label="12hr format"  
                    matInput
                    readonly>
            <ngx-material-timepicker #endTime></ngx-material-timepicker>
    </mat-form-field>
</div>

<div class="section section__player-input" >
    <div class="title">
        <span>Create & Add Player</span>
        <span>
            <mat-icon  (click)="toggleAddPlayer()"
                    class="icon" 
                    aria-hidden="false" 
                    aria-label="dropdown icon">
                    {{createPlayerDropdownOpen ? 'arrow_circle_up' : 'arrow_circle_down' }} 
            </mat-icon>
        </span>
    </div>
    <ng-container *ngIf="createPlayerDropdownOpen">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input [formControl]="playerFormGroup.controls.firstName" 
                matInput 
                placeholder="first name"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input [formControl]="playerFormGroup.controls.lastName"
                matInput 
                placeholder="last name"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Fargo</mat-label>
            <input [formControl]="playerFormGroup.controls.fargoRating" 
                matInput 
                placeholder="fargo rating"/>
            <mat-error *ngIf="playerFormGroup.controls.fargoRating.hasError('pattern')">
                please enter a number
            </mat-error>
            <mat-error *ngIf="playerFormGroup.controls.fargoRating.hasError('min')">
                Must be {{fargoRating.min}} or above
            </mat-error>
            <mat-error *ngIf="playerFormGroup.controls.fargoRating.hasError('max')">
                Must be {{fargoRating.max}} or below
            </mat-error>
        </mat-form-field>
        <div class="section section__button-group" >
            <button (click)="createPlayer()" mat-raised-button [disabled]="this.playerFormGroup.invalid">Add</button>
        </div>
    </ng-container>
</div>


<div class="section section__player-list">
    <div class="title">
        <span>Add Existing Player</span>
        <span>
            <mat-icon  (click)="toggleExistingPlayerList()"
                    class="icon" 
                    aria-hidden="false" 
                    aria-label="dropdown icon">
                    {{existingPlayerListDropdownOpen ? 'arrow_circle_up' : 'arrow_circle_down' }} 
            </mat-icon>
        </span>
    </div>
    <ng-container *ngIf="(existingPlayers$ | async) as existingPlayers">
        <ng-container *ngIf="existingPlayerListDropdownOpen">
            <player-list [playerList]="existingPlayers" (playerSelected)="onSelectExistingPlayer($event)"></player-list>
        </ng-container>
    </ng-container>
</div>

<ng-container *ngIf="(currentPlayers$ | async) as currentPlayers">
    <div class="section section__player-list">
        <div class="title"><span>Current Players</span></div>
        <player-list [playerList]="currentPlayers" (playerSelected)="onSelectCurrentPlayer($event)"></player-list>
    </div>
    <footer class="footer">
        <button (click)="createTournament(currentPlayers)" 
                [disabled]="tournamentFormGroup.controls.name.invalid || tournamentFormGroup.controls.endTime.invalid"
                mat-raised-button>
            {{tournament_id === 'new-tournament'  ? 'Create Tournament' : 'Update Tournament'}}
        </button>
        <button *ngIf="tournament_id !== 'new-tournament'"(click)="deleteTournament()" 
                [disabled]="tournamentFormGroup.controls.name.invalid || tournamentFormGroup.controls.endTime.invalid"
                mat-raised-button>
            Delete
        </button>
    </footer>
</ng-container>
