<div *ngIf="(tournament | async) as tournament" class="container">
    <div class="title">
        {{tournament.name + ' Player List'}} 
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Search Players</mat-label>
        <input matInput [(ngModel)]="playerInput" placeholder="player name" class="search-input"/>
    </mat-form-field>
    <ng-container *ngIf="(players$ | async) as players">
        <player-tile *ngFor="let player of players | filterPlayers:playerInput"  [player]="player"></player-tile>
    </ng-container>
</div>