<div *ngIf="(currentTournament | async) as tournament" class="container">
    <div class="title">
        {{tournament.name + ' Player List'}} 
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Search Players</mat-label>
        <input matInput [(ngModel)]="filterPlayer" placeholder="player name" class="search-input"/>
    </mat-form-field>
    <player-tile *ngFor="let player of tournament.players | filterByKey:filterPlayer :'firstName'"  [player]="player"></player-tile>
</div>