
<div class="section" >
    <div class="title">Open Tournaments</div>
    <mat-form-field  appearance="outline">
        <mat-label>Search Tournaments</mat-label>
        <input matInput [(ngModel)]="tournamentInput" placeholder="tournament name"/>
    </mat-form-field>
    <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let tournament of (tournaments | async) | filterTournaments:tournamentInput"
                         (click)="onSelectTournament(tournament)"
                         [value]="tournament" 
                         class="tournament-list-item">
          {{tournament.name}}
        </mat-list-option>
      </mat-selection-list>
</div>