.tournament-search {
    width: 100%;
}

.title{
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}

.tournament-list{
    margin-top: -2rem;
}

.tournament-list-item{
    margin: 1rem 0rem;
    box-shadow: 0.2rem 0.4rem rgba(0,0,0,0.2);
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.2);
}

.tournament-search-wrapper{
    margin: 0;
}