:host{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 2rem;
    box-shadow: .5rem 1rem rgba(0,0,0,0.1);
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.4);
    width: 80%;
    padding: 1rem;
    background-color: white;
}

.row {
    display: flex;
    width: 100%;
    margin: 1rem 0;
    &__information {
        border-bottom: 1px solid rgba(0,0,0,0.4);
    }
    &__input {
    }

}

.col {
    display: flex;
    align-items: center;

    &__player{
        flex: 3;
        align-items: flex-start;
        flex-direction: column;
    }
 
    &__betting{
        flex: 1;
        flex-direction: column;
    }

    &__input{
        flex: 1;
        justify-content: center;
    }
    &__button{
        flex: 1;
        justify-content: center;
    }

    &__title {
        line-height: 1;
        font-size: 2.4rem;
        font-weight: 300;
    }

    &__subtitle {
        font-size: 1rem;
    }
}

.bet {
    line-height: 1;
    font-size: 1rem;
    font-weight: 300;
    margin: 0 1rem;
    padding: 1rem 2rem;
    width: 100%;
    text-transform: uppercase;
    border: 1px solid rgba(0,0,0,.5);

    &__input {
        border-radius: 100px;
        font-size: 1.5rem;
        text-align: center;
        &:focus {
            outline: none;
            box-shadow: .25rem .5rem rgba(0,0,0,0.2);
        }
    }

    &__button {
        outline: none;
        border-radius: 100px;
        background-color: gold;
        &:active {
            transform: translateY(2px);
        }
    }
}


