
<div class="section section__player-input" >
    <div class="title">Add Player</div>
    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input [formControl]="playerFormGroup.controls.firstName" 
               matInput 
               placeholder="first name"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input [formControl]="playerFormGroup.controls.lastName"
               matInput 
               placeholder="last name"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Fargo</mat-label>
        <input [formControl]="playerFormGroup.controls.fargoRating" 
               matInput 
               placeholder="fargo rating"/>
        <mat-error *ngIf="playerFormGroup.controls.fargoRating.hasError('pattern')">
            please enter a number
        </mat-error>
        <mat-error *ngIf="playerFormGroup.controls.fargoRating.hasError('min')">
            Must be {{fargoRating.min}} or above
        </mat-error>
        <mat-error *ngIf="playerFormGroup.controls.fargoRating.hasError('max')">
            Must be {{fargoRating.max}} or below
        </mat-error>
    </mat-form-field>
</div>
<div class="section section__button-group" >
    <button (click)="createPlayer()" mat-raised-button [disabled]="this.playerFormGroup.invalid">Add</button>
    <button (click)="updatePlayer()" mat-raised-button [disabled]="this.playerFormGroup.invalid || this.playerFormGroup.pristine">update</button>
    <button (click)="deletePlayer()" mat-raised-button [disabled]="this.playerFormGroup.invalid">delete</button>
</div>

<div class="section section__player-list">
    <div class="title">Player List</div>
    <div class="subtitle" *ngIf="(players | async)?.length !== 0">{{selectedPlayer.firstName}} {{selectedPlayer.lastName}}</div>
    <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let player of (players | async)"
                         (click)="onSelectPlayer(player)"
                         [value]="player" 
                         class="player-list-item">
          {{player.firstName}} {{player.lastName}}     {{player.fargoRating}}
        </mat-list-option>
    </mat-selection-list>
</div>

